.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 100;
    margin-top:20px;
}

.header__icon{
    object-fit: contain;
    width: 13vw;
    cursor: pointer;
}

.header__search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    padding:0 15px;
    height: 45px;
    cursor: pointer;
}

.header__search > input {
    border: none;
    flex: 1;
    cursor: pointer;
}

.header__searchIcon{
    background-color:rgb(255, 56, 92);
    border-radius: 50px;
    padding: 5px;
    color: white;
}

.header__right{
    display: flex;
    align-items: center;
    color: white;
    
}

.header__right > p {
    padding: 0 10px;
    cursor: pointer;
}

.header__right > .MuiSvgIcon-root{
    padding: 0 10px;
    cursor: pointer;
}

.header__right > .MuiAvatar-colorDefault {
    margin: 0 10px;
    cursor: pointer;
}